    <body style="background-color: whitesmoke;background-image:url(https://images.unsplash.com/photo-1590183992320-a2279e1aaf54?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTQxfHxwaG90b3Nob3B8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60); background-repeat:no-repeat;width: 100%; background-size: cover">

        <div>
            <br>
            <br>
           
            
          <div class="modal-dialog" >
          
            <div class="modal-content" style="background-color: darkgray; ">
                  <div class="modal-header text-center">
                      <h4 class="modal-title "style="font-family: bold; font-size: xx-large;margin-left: 110px;">Forget password</h4>
                      <div *ngIf="success == true; then SUCC else FAIL"></div>
                      <ng-template #SUCC ><p style="color:green" >{{message}}</p>
                      </ng-template>
                      <ng-template #FAIL><h5 style="color:red" >{{message}}</h5></ng-template>

            </div>
          
                      <div class="modal-body">
                          <div class="form-group row">
                              <div class="col-lg-1"></div>
                              <label class="col-lg-2 form-control-label">Login_id <span style="color: red;"> * </span> </label>
                              <div class="col-lg-8">
                                  <input [(ngModel)]="form.login_id" type="text" name="login_id" placeholder="Enter your login_id"style=" width: 250px;">
                                  <span style="color: red;"> {{inputError.login_id}} </span>
                              </div>
                          </div>
          
          
                     
                        <div class="container">
                          <div class="row">
                                <div class="col-md-4"></div>
                              <div class="col-md-3">
                                  
                                    <button (click)="Forgetpassword()" type="submit" class="btn btn-success" value="submit" >Send
                                      
                                  </button>
                                  <button type="reset" (click)="reset()" class="btn btn-primary" value="reset" style="margin-left:100px; margin-top: -63px">Reset
                                     
                                  </button>
                                                   
                                   
                              </div>
                          </div>
                       </div>
                              
                      </div>
             
          </div>
         
          </div>
          