<body style="background-color: whitesmoke;background-image:url('https://images.unsplash.com/photo-1612847759757-d6cc7902f2f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjEzfHxwaG90b3Nob3B8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60); background-repeat:no-repeat;width: 100%; background-size: cover ">
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 align="center">
            <img src="assets/customLogo1.png" class="mx-auto d-block" style="width: 35%">
            <br>
            
            <a [routerLink] = "['/home']"  style="color: black;font-size: 48px;">Online Result System</a>
       </h1>
         
    </div>
</body>